<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Shop</title>
</head>
<body>
<h1>Add shop</h1>

<form action="#" th:action="@{/save}" th:object="${shop}" method="post">
    <input type="hidden" th:field="*{id}"/>
    <label for="name">Name</label>
    <input type="text" th:field="*{name}" id="name" placeholder="Shop name">
    <input type="submit" value="Submit shop">
    <select class="form-control"  th:field="*{products}" multiple="multiple" id="dropCompetitions" >
        <option th:each="t : ${products}" th:value="${t.id}" th:text="${t.name}"></option>
    </select>
</form>

</body>
</html>