<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
  <title>Shops</title>
</head>
<body>
<h1>Welcome to our Shop - Base</h1>
<h2>We have <span th:text="${shops.size()}"></span> persons in our database</h2>
<div th:switch="${shops}">
  <h2 th:case="null">No shops</h2>
  <div th:case="*">
    <h2>Shops</h2>
    <table>
      <thead>
      <tr>
        <th>Name</th>
      </tr>
      </thead>
      <tbody>
      <tr th:each="shop : ${shops}">
        <td th:text="${shop.name}"></td>
        <td><a th:href="@{/updateShop/{id}(id=${shop.id})}">Update</a></td>
        <td>><a th:href="@{/delete/{id}(id=${shop.id})}">Delete</a></td>
        <td>><a th:href="@{/shop/{id}/goToProducts(id=${shop.id})}">Go to shop</a></td>
      </tr>
      </tbody>
    </table>
  </div>
  <p><a href="/addShop">Add new shop</a></p>
  <p><a href="/products">Go to products</a></p>
  <p><a href="/categories">Go to categories</a></p>
</div>
<h4><a th:href="@{/}">Shops</a></h4>
</body>
</html>