<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Update product</title>
</head>
<body>
<h1>Update product</h1>

<form action="#" th:action="@{/product/update}" th:object="${product}" method="post">
    <input type="hidden" th:field="*{id}" id="id">
    <label for="name">Name</label>
    <input type="text" th:field="*{name}" id="name" placeholder="Product name"><p/>
    <label for="price">Price of unit</label>
    <input type="number"  step="0.01" th:field="*{price}" id="price" placeholder="Price of unit"><p></p>
    <label for="weight">Weight of unit</label>
    <input type="number" step="0.01"  th:field="*{weight}" id="weight" placeholder="Weight of unit"><p></p>
    <label for="quantity">Quantity</label>
    <input type="number"   th:field="*{quantity}" id="quantity" placeholder="Quantity"><p></p>
    <label for="expiryDate">Expiry Date</label>
    <input type="date" th:field="*{expiry_date}" id="expiryDate"> <p/>
    <input type="submit" value="Update Product">
</form>

<p><a th:href="@{/product}">Previous page</a></p>
</body>
</html>